@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}

nav a{
    color: white !important;
}

.rounded-md.ring-1.ring-black.ring-opacity-5.py-1.bg-white {
    background-color: darkgray !important;
}

.wrapper{
    margin: 0 auto;
}

/*Home page*/
#home{
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/background-home.jpg') !important;
}

.center{
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
    color: white;
}

.center a{
    color: white;
    font-size: 25px;
}

.center h1{
    font-size: 45px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

#aboutme{
    margin-right: 15px;
}

/*Project page*/
.filters{
    border-radius: 7px;
    background-color: gray;
    color: white;
    text-align: center;
    display:flex;
    justify-content: center;
}

.filterp{
    margin-left: 5px;
    margin-right: 5px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.projects{
    margin-top: 15px;
}

.projectcreate{
    border-bottom: 1px solid white;
    color: white;
}

/*algemeen*/

.min-h-screen.bg-gray-100 {
    background-image: url('../images/background-home.jpg') !important;
}

/*form(s) */

.form-group{
    display: flex;
    justify-content: center;
}

.form-group input{
    color: black !important;
}

.form-group form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: darkslategrey;
    border-radius: 20px;
    width: 70%;
}

.form-row{
    display: flex;
    flex-direction: column;
}

.form-group button{
    padding: 5px;
    background-color: darkcyan;
    border-radius: 5px;
    margin: 10px;
}

/* Project form */

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.project{
    margin-bottom: 15px;
}

.formproject{
    display: flex;
    justify-content: center;
}

.projectimage{
    width: 400px;
    height: 250px;
    object-fit: cover; 
    object-position:center;
}

/*Project */

.project-information{
    text-align: center;
}

.project-information h1{
    font-size: 300%;
}

.slideshow{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px dotted white;
    margin-bottom: 10px;
}

.slideshow-images{
    border: 2px solid black;
    box-shadow: 0 0 10px 5px #000;
}

.slideshow-image{
    width: 900px;
    height: 500px;
    object-fit: cover; 
    object-position:center;
}

.slideshow-buttons{
    margin-top: 15px;
    margin-bottom: 15px;
}

.previous{
    background-color: darkcyan;
    padding: 7px;
    border-radius: 5px;
    margin-right: 10px;
}

.next{
    background-color: darkcyan;
    padding: 7px;
    border-radius: 5px;
}

/* Edit project page */

.imageedit{
    margin-bottom: 15px; 
    margin-top: 15px;
}

/*contact*/

.contact-top{
    display:flex;
}

.contact-bottom{
    display:flex;
    flex-direction: column;
}

.contact-form-input{
    width: 300px;
}

#contact-name{
    margin-right: 50px;
}

#contact-message{
    width: 650px;
}