@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
}

nav a{
    color: white !important;
}

.wrapper{
    width: 70%;
}

/*Home page*/
#home{
    margin: 0 auto;
    text-align: center;
    background-image: url('../images/background-home.jpg') !important;
}

.center{
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
    color: white;
}

.center a{
    color: white;
    font-size: 25px;
}

.center h1{
    font-size: 45px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

#aboutme{
    margin-right: 15px;
}

/*Project page*/
.filters{
    border-radius: 7px;
    background-color: gray;
    color: white;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.projects{
    margin-top: 15px;
}

.projectcreate{
    border-bottom: 1px solid white;
    color: white;
}

/*algemeen*/

.min-h-screen.bg-gray-100 {
    background-image: url('../images/background-home.jpg') !important;
}

/* Project form */

.formproject{
    display: flex;
    justify-content: center;
}
